@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2>Dashboard - Tổng doanh thu</h2>

<div>
    <h2>Total Revenue: @ViewBag.TotalRevenue.ToString("C")</h2>

</div>
