@{
    Layout = "~/Views/Order/OrderLayout.cshtml";
}

@model TestWeb.Models.Order

@{
    ViewData["Title"] = "Confirm Order";
}

<h2>Confirm Order</h2>

<p>Thank you for your order! Your order number is: @Model.OrderID</p>
<p>Status: @Model.Status</p>

<a href="@Url.Action("TrackOrder", "Order")">Follow your order</a>
