@{
    ViewData["Title"] = "DanhSachSanPham";
    Layout = "~/Views/Product/ProductLayout.cshtml";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TestWeb.Models.Books>

<div class="container">
    <!-- Thêm container -->
    <div id="product-container">
        @await Html.PartialAsync("_ProductList", Model)
    </div>
</div>